:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #ffffff;
  /* Background color for the entire website, including individual sections */
  --default-color: #272829;
  /* Default color used for the majority of the text content across the entire website */
  --heading-color: #050d18;
  /* Color for headings, subheadings and title throughout the website */
  --accent-color: red;
  /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff;
  /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: red;
  /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */


}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #7b8190;
  /* The default color of the main navmenu links */
  --nav-hover-color: #038EDC;
  /* Applied to main navmenu links when they are hovered over or active */
  --accent-color: red;
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f4fafd;
  --surface-color: #ffffff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar a.active{
  color: red;
}
/* top navbar profile image css start */
.profile {
  position: relative;
  display: flex;
  justify-content: flex-end;
  
  gap: 12px;
  cursor: pointer;
  text-align: end;
}

.profile h3 {
  text-align: end;
  line-height: 1;
  margin-bottom: 4px;
  font-weight: 600;
}

.profile p {
  line-height: 1;
  font-size: 14px;
  opacity: .6;
}

.profile .img-box {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.profile .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown-toggle::after{
  display: none !important;
}
.btn:focus {
  outline: none !important;
}

/* top navbar profile image css end */
.section-color {
  background-color: #F7F8FA;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.875rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.offcanvas-start {
  transform: translateX(0%);
  border: none;
  width: 100%;


}
.offcanvas-body {
  padding: 15px;
  overflow: hidden;
}

.offcanvas-start {
  width: 250px !important ;
}
.offcanvas-end {
  width: 250px !important ;
}

.search-section{ 
    height: 70px;    
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 16px;
    top: 0px;
    transition: 0.3s;
}


.form-control {
  height: 48px;
  border-radius: 50px;
  /* background: rgba(0, 0, 0, 0.05); */
  padding: 10px 16px;
  margin: 8px 0px;
  width: 100%;
}

.sign-in__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* position: relative; */
  background-image: linear-gradient(19deg, #ddd6f3 0%, #faaca8 100%);
  ;
}

.btn-animation {
  transition: transform 0.3s;
}

.btn-animation:hover {
  transform: translateY(-2px);
}

.sign-up-left {
  border-radius: 20px 0px 0px 20px;
}

.sign-up-right {
  border-radius: 0px 20px 20px 0px;
}

@media (max-width: 767px) {
  .sign-up-right {
    border-radius: 20px;
  }
}

.bg-color {
  background: linear-gradient(135deg, #f75959 0%, #f35587 100%);
}

.rounded-border {
  border-radius: 10px;
}

.main-content {

  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
  margin: 11em auto;

}

.btn-outline {
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 20px;
}

.mg-top {
  margin-top: 100px 0px;
}

.leftZero {
  left: 0;
  color: var(--default-color);
  background: linear-gradient(135deg, #f75959 0%, #f35587 100%);
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 0 15px;
  width: 250px;
  transition: all ease-in-out 0.3s;
  overflow-y: auto;
  z-index: 1;
  border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.header {
  background: linear-gradient(135deg, #f75959 0%, #f35587 100%);
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  padding: 0 15px;
  width: 250px;
  transition: all ease-in-out 0.3s;
  overflow-y: auto;
  z-index: 0;
  border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}
.verticleNavbar{
  border-right: 1px solid #e3e3e3;
}
.top-navbar{
height:70px;
border-bottom: 1px solid #e3e3e3;
}


.profile-img img {
  margin: 15px auto;
  display: block;
  width: 170px;
  border: 4px solid color-mix(in srgb, #038EDC, transparent 35%);
}

@media screen and (min-width: 992px) {

  .navbar-expand-lg .navbar-collapse,
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  /* .navbar {
    width: 15%;
    height: 100vh;
    align-items: flex-start;
  } */

  .navbar-brand {
    margin-left: 0.5rem;
  }
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.1em;
}


@media (max-width: 1199px) {
  .header {
    left: -100%;
  }
}



.headerToggle {
  color: var(--contrast-color);
  background: linear-gradient(135deg, #f75959 0%, #f35587 100%);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 0;

  transition: background-color 0.3s;
}

.header .header-toggle:hover {
  color: var(--contrast-color);
  background: linear-gradient(135deg, #f75959 0%, #f35587 100%);
}

/* @media (min-width: 1200px) {
  .header-main{
      margin-left: 18.75rem;   
  }
} */
.header-left-Zero {
  margin-left: 0px;
  transition: all ease-in-out 0.3s;

}

.header-margin-left {
  margin-left: 15.625rem;
  z-index: 0;
  transition: all ease-in-out 0.3s;
}

.sitename {
  font-size: 24px;
  margin: 0;
  text-align: center;
  color: var(--nav-color);
  font-weight: 700;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


.navmenu {
  padding: 0;
  z-index: 9997;
}

.navmenu ul {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0;
  text-align: center;
}

.navmenu a ,
.navmenu a:focus
{
  color: var(--nav-color);
  padding: 10px 0px;
  font-family: var(--nav-font);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: 0.3s;
  width: 100%;
  text-decoration: none;
}

.navmenu .active{
  color: var(--nav-hover-color);
  /* background-color: rgba(62, 121, 247, 0.1);     */
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: 0.3s;
  width: 100%;
  text-decoration: none;
}  

.navmenu a:hover,
.navmenu .active:focus {
  color: var(--nav-hover-color);
}

.navmenu a .navicon,
.navmenu a:focus .navicon {
  font-size: 10px;
  margin-right: 10px;
}

.navmenu i {
  font-size: 20px;
}

@media (max-width: 769px) {
  .verticleNavbar {      
      border: none;
  }
}


 
